@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Inter:wght@400;600&display=swap');

body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background-color: #F8EDE4;
    max-width: 1000px;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #F0DCC5;
    padding: 1rem 4rem;
    border-bottom: 3px solid #27150F;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #27150F;
    font-size: 30px;
    transition: 0.3s;
}

nav > ul > li > a:hover{
    color: #9A6B3F;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 0;
}

img {
    width: 100px;
    height: 100px;
}

figcaption {
    font-size: 1.8rem;
    color: #27150F;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

figure {
    display: flex;
    align-items: center;
    margin: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F8EDE4;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
}

.hero-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-btn {
    display: inline-block;
    margin-top: 1.8rem;
    padding: 1rem 3rem;
    background-color: #C79A6D;
    color: #F8EDE4;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.explore-btn:hover {
    background-color: #9A6B3F;
}

.explore-btn:active {
    transform: scale(0.95);
}

.cafe-text {
    color: #27150F;
    text-align: center;
    margin: 0 auto 3rem auto;
}

.cafe-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.cafe-text p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.cafe-card {
    margin-bottom: 5rem;
    text-align: left;
    color: #27150F;
}

.cafe-card p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.cafe-name {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 0.7rem;
    color: #27150F;
}

.cafes {
    margin: 4rem auto;
    padding: 0 2rem;
}

.cafe-image {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.cafe-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

.tip {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}